.login-bg {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-con {
  background-color: #202020;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.login-img {
  width: 35%;
  margin-bottom: 40px;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.form-item {
  margin-bottom: 15px;
}
.login-label {
  color: #ffffff;
  font-size: 12px;
}
.login-input {
  margin-top: 5px;
  background-color: transparent;
  padding: 8px;
  font-size: 13px;
  color: #ffffff;
  outline: none;
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
}
.login-btn {
  background-color: #6366f1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.login-error {
  margin-top: 3px;
  font-size: 12px;
  color: #ff0b37;
}

@media (max-width: 576px) {
  .login-con {
    width: 85%;
  }
}
@media (min-width: 577px) and (max-width: 1200px) {
  .login-con {
    width: 40%;
  }
}
